body {
    font-family: 'Roboto Slab', serif;
}

div {
    padding-left: 1em
}

.name {
    font-weight: bold;
    color: #2b1b17;
}

.title {
    color: #2b1b17;
}

.logo {
    border: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact {
    color: #665752;
}

.contact-nsl {
    color: #999999;
}

.strapline {
    padding-top: 1em;
    color: #999999
}

.now-soon-later {
    font-weight: bold;
    color: #665752;
    padding-top: 1em
}