
div {
    /* Add a little margin for all the lines */
    padding-left: 1em;

    /* Apply the font here. On body it gets overridden by _reboot.scss on body. */
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

/** For the M: / E: / W: table on the plain layout. */
td {
    padding: 0px;
    padding-right: 5px;
}

.name {
    font-weight: bold;
    color: #2b1b17;
}

.title {
    color: #2b1b17;
}

.logo {
    border: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact {
    color: #665752;
    line-height: 21px;
}   

.contact-nsl {
    color: #999999;
    line-height: 21px;
}

.strapline {
    padding-top: 1em;
    color: #999999
}

.now-soon-later {
    font-weight: bold;
    color: #665752;
    padding-top: 1em
}