div {
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-weight: bold;
    color: #333333;
}

.title {
    color: #555555;
}

.logo {
    border: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact {
    color: #777777;
}
