
div {
    /* Apply the font here. On body it gets overridden by _reboot.scss on body. */
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

/** For the M: / E: / W: table on the plain layout. */
td {
    padding: 0px;
    padding-right: 5px;
}

a {
    text-decoration: none;
}

.name {
    font-weight: normal;
    color: #2b1b17;
}

.title {
    font-weight: 200; /* Light */
    color: #2b1b17;
}

.contact {
    font-weight: 200; /* Light */
    color: #665752;
    line-height: 21px;
}   

.contact-nsl {
    font-weight: 200; /* Light */
    color: #999999;
    line-height: 21px;
}

.strapline {
    font-weight: 200; /* Light */
    padding-top: 1em;
    color: #999999
}

.now-soon-later {
    color: #665752;
    padding-top: 1em
}

.social {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.social-icon {
    margin: 0.3em;
    width: 32px;
    height: 32px;
}

.logo {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 120px !important;
    height: 37px !important;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .logo {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 120px !important;
        height: 37px !important;
    }
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi) { 
    .logo {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 120px !important;
        height: 37px !important;
    }
}
